html,body { height:100%; }

.banner{
	width:100%;
}
#header_banner{
	width:100%;
	float:left;
}
#login{
	background:#3ab4a6;
	padding:30px;
	width:300px;
	margin: auto;
	margin-top:100px;
}

#profileArea{
	padding-bottom: 100px;
}

#register{
	background:#3ab4a6;
	padding:30px;
	width:300px;
	margin: auto;
	margin-top:100px;
}
#tabs{
	width:82%;
	float:left;
	margin-left:220px;
}

#sidebar{
	width:250px;
	float:left;
	height: 100%;
}

#pantalla_principal {
	min-height:100%;
	position:relative;
}
#user_welcome{
	color: white;
}

.star{
	width:18px;
}
.img_big{
	width:250px;
}
.comic_table{
	width:500px;
	margin-top: 100px;
}
#table_footer{
	width:30%;
	font-weight: bold;
	margin-top:10px;

}

#comic_header{
	font-style: solid 20px #ffffff;

}

@font-face {
    font-family: 'Comica'; /*a name to be used later*/
    src: url('fonts/Comica.ttf'); /*URL to font*/
}

#title{
	font-family: 'Comica';
	font-size: 30px;
	color: white;
}
#search{
	float:left;
	position:relative;
	width:100%;
}

#user_area{
	float:right;
	position:relative;
	
}


#main_content{
	margin-left:250px;

}

.icon{
	width:25px;
}

.cover{
	width:150px;
}


html, body, #pantalla_principal { height: 100%; }
body > #pantalla_principal { height: auto; min-height: 100%; }
#pantalla_principal { padding-bottom: 3em; }