<div id='profileArea' align='center'>
	<form ng-submit="editUser()">
		<p>View/Edit Profile</p>
		<table>
			<tr><td>First Name: </td><td><input type='text' ng-model='usuarioActivo.nombre'/></td></tr>
			<tr><td>Last Name: </td><td><input type='text' ng-model='usuarioActivo.apellido'/></td></tr>
			<tr><td>Username: </td><td><input type='text' ng-model='usuarioActivo.user'/></td></tr>
			<tr><td>Password: </td><td><input type='password' ng-model='usuarioActivo.password'/></td></tr>
			<tr><td>Password Confirm: </td><td><input type='password' ng-model='usuarioActivo.password'/></td></tr>
			<tr><td>Profile Picture: </td><td><input type='text' ng-model='usuarioActivo.img'/></td></tr>
			<tr><td>Preview: </td><td><img style='width:75px;'src="{{usuarioActivo.img}}"/></td></tr>
			<tr><td><a href="" ng-click="goToComics()"> Back to Comics</a></td><td><input type='submit' value='Save Changes'/></td></tr>
		</table>
	</form>
</div>